/* Start Rulez */
.container {
    width:1170px;
    margin:auto
}
.clearfix {clear:both}
/* End Rulez */
/* Start Header */
.header .slider {
    height:600px
}
.header .navbar {
    background-color:#1D938D;
    color:#FFF;
    overflow:hidden;
}
.header .navbar h2 {
    float:left
}
.header .navbar h2 span {
    color:#2AEAD7
}
.header .navbar ul {
    list-style:none;
    float:right;
    padding-left:0;
    overflow:hidden
    
}
.header .navbar ul li {
    float:left;
    padding:10px
}
.header .navbar ul li a {
    text-decoration:none;
    color:#FFF
}
.header .navbar ul li a:hover {
    color:#1CEAEA;
    border-bottom:2px solid #1CEAEA;
}
/* End Header */
/* Start Features */
.features {
    overflow:hidden;
    padding-top:30px;
    padding-bottom:30px
}
.features .feat {
    float:left;
    width:33.33333%;
    height:130px
}
.features .feat p {
    padding-right:5px
}
/* End Features */
/* Start About Me */
.about-me {
    overflow:hidden;
    background-color:#42BED1
}
.about-me .image {
    float:left;
    width:40%;
}
.about-me .image img {width:100%}
.about-me .info {
    float:left;
    width:60%
}
.about-me .info .hobbies {
    overflow:hidden;
    margin:20px
}
.about-me .info .hobbies > div {
    float:left;
    width:50%;
    min-height:100px
}
/* End About Me */
/* Start My Skills */
.my-skills {
    padding-top:30px;
    padding-bottom:30px;
    overflow:hidden
}
.my-skills .skills, 
.my-skills .progress {
    float:left;
    width:50%
    
}
/* End My Skills */
/* Start Resume */
.resume {
    background-color:#1EBF79;
    padding-top:30px;
    padding-bottom:30px;
    text-align:center
}
/* End Resume */
/* Start My Education */
.my-education {
    padding-top:30px;
    padding-bottom:30px;
    overflow:hidden
}
.my-education .main,
.my-education .exp {
    float:left;
    width:50%
}
/* End My Education */
/* Start Testimonials */
.testimonials {
    background-color:#ED55A1;
    padding-top:30px;
    padding-bottom:30px;
    text-align:center;
}
/* End Testimonials */
/* Start Portfolio */
.portfolio {
    padding-top:30px;
    padding-bottom:30px;
    text-align:center
}
.portfolio .our-work {
    overflow:hidden
}
.portfolio .our-work > div {
    float:left;
    width:33.33333%;
    margin-bottom:10px
}
.portfolio .our-work > div img {
    width:92%;
    margin:10px
}
/* End Portfolio */
/* Start Contact Me */
.contact-me {
    background-color:#38B5EA;
    padding-top:30px;
    padding-bottom:30px;
    overflow:hidden
}
.contact-me .info h2 {
    color:#FFF
}
.contact-me .info p {
    color:#DAEAE9
}
.contact-me .info,
.contact-me .form {
    width:50%;
    float:left
}
/* End Contact Me */
/* Start Footer */
.footer {
    background-color:#D64470;
    color:#151616;
    padding:10px 0;
    text-align:center;
}
/* End Footer */